@model string
<div>
    @ViewBag.Msg
</div>
<hr />
<div>from controller @ViewBag.testEntGuid</div>
<hr />
<div>@ViewBag.testControllerContext</div>
<hr />
<div>@ViewBag.accept</div>
<hr />
<div>@ViewBag.currUser</div>
<hr />
<div>@User.Identity.Name from @@User</div>