@model BookListViewModel
@{
    ViewData["Title"] = "Book's List";
}

<h2>Book's List</h2>
<div class="float-right">
    <form asp-action="List" method="get" asp-route-page="1">
        <div class="form-group">
            <input type="text" name="searchQuery" value=@TempData["searchQuery"] />
            <button class="btn btn-primary" type="submit">Найти</button>
            <a asp-action="List" asp-route-genre=@Model.CurrentGenre class="btn btn-primary">Очистить</a>
        </div>
    </form>
</div>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Авторы</th>
            <th scope="col">Жанры</th>
            <th scope="col">Полочный индекс</th>
            <th scope="col">Взять</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model.Books)
        {
            @*@Html.Partial("BookSummary", b)*@
            <tr>
                <td>@b.Title</td>
                <td>
                    @foreach (var a in b.Authors)
                    {
                        <a asp-action="Item" asp-controller="Author" asp-route-id=@a.AuthorRouteId>@a.GetShortName()</a><text>&nbsp;</text>
                    }
                </td>
                <td>
                    @foreach (var g in b.Genres)
                    {
                    <a href="/@g.GenreRouteId"><i>@g.Name; </i></a>
                    }
                </td>
                <td>@b.ShelfIndex</td>
                <td>
                    <form id=@b.BookId asp-action="AddToCart" asp-controller="Cart" method="post">
                        <input type="hidden" name="bookId" value=@b.BookId />
                        <input type="hidden" name="returnUrl" value=@ViewContext.HttpContext.Request.PathAndQuery() />
                        <span class="lead">
                            <button type="submit" class="btn btn-primary btn-sm float-right">Взять</button>
                        </span>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
        <div page-model="@Model.PagingInfo"
             page-action="List"
             page-classes-enabled="true"
             page-class="btn"
             page-class-normal="btn-secondary"
             page-class-selected="btn-dark"
             page-url-genre=@Model.CurrentGenre
             page-url-searchQuery=@TempData["searchQuery"]
             class="btn-group float-right m-1"></div>
